// ----- Nav -----
@nav-width: 300px;
@nav-background-color: black;
@nav-color: white;


// ----- theme -----
@theme-link-color: #2479CC;


// ----- mixins -----
.vertical-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-center() {
  margin: 0 auto;
}